* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
}

.carousel {
  position: relative;
  height: 650px;
  width: 100%;
  margin: 0 auto;
}

.carousel__images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__track-container {
  background: #999;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: 50px;
  z-index: 2;
}

.carousel__button--right {
  right: 50px;
  z-index: 2;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

.total-grid-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

/* Section: Info Grid */
.grid-wrapper {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}

.grid-break {
  width: 100%;
  margin: 10px 0;
}

.grid-1-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 200px 400px;
      grid-template-columns: 350px 200px 400px;
  -ms-grid-rows: 100px 50px 40px 50px;
      grid-template-rows: 100px 50px 40px 50px;
      grid-template-areas: "img1 info1 info1" "img1 info1 info1" "img1 button1 ." "img1 . .";
  grid-gap: 15px;
}

.grid-1-container .grid-pic-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: img1;
  background-image: url("../img/grid-img/grid-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-1-container .grid-info-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: info1;
  line-height: 30px;
  padding: 30px 10px;
}

.grid-1-container .grid-info-1 p {
  margin-top: 30px;
}

.grid-1-container .grid-button-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: button1;
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.grid-1-container .grid-button-1:hover {
  background-color: #00526e;
}

.grid-2-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 350px 400px;
      grid-template-columns: 200px 350px 400px;
  -ms-grid-rows: 100px 50px 40px 50px;
      grid-template-rows: 100px 50px 40px 50px;
      grid-template-areas: "info2 info2 img2" "info2 info2 img2" "button2 . img2" ". . img2";
  grid-gap: 20px;
}

.grid-2-container .grid-pic-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: img2;
  background-image: url("../img/grid-img/grid-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-2-container .grid-info-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info2;
  line-height: 30px;
  padding: 30px 10px;
}

.grid-2-container .grid-info-2 p {
  margin-top: 30px;
}

.grid-2-container .grid-button-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button2;
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.grid-2-container .grid-button-2:hover {
  background-color: #00526e;
}

.grid-3-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 200px 400px;
      grid-template-columns: 350px 200px 400px;
  -ms-grid-rows: 100px 50px 40px 50px;
      grid-template-rows: 100px 50px 40px 50px;
      grid-template-areas: "img3 info3 info3" "img3 info3 info3" "img3 button3 ." "img3 . .";
  grid-gap: 20px;
}

.grid-3-container .grid-pic-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: img3;
  background-image: url("../img/grid-img/grid-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-3-container .grid-info-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: info3;
  line-height: 30px;
  padding: 30px 10px;
}

.grid-3-container .grid-info-3 p {
  margin-top: 30px;
}

.grid-3-container .grid-button-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: button3;
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.grid-3-container .grid-button-3:hover {
  background-color: #00526e;
}

footer {
  height: 20vh;
  width: 100%;
  background-color: #008cba;
  color: white;
}

footer p {
  font-size: 12px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 35px;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-wrapper .fab {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 30%;
}

.footer-btn-icon {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f1f1;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  color: #008cba;
  position: relative;
  text-decoration: none;
}

.footer-btn-icon i {
  line-height: 45px;
  font-size: 26px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer-btn-icon:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  line-height: 20px;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: #00207f;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 30px;
}

.fa-user-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 40%;
  margin-bottom: 10px;
  color: #008cba;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #008cba;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #008cba;
  color: rgba(255, 255, 255, 0.829);
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #008cba;
}

.news-grid-background {
  background: #f5f5f5;
  padding-bottom: 20px;
  margin-top: 30px;
}

.news-grid-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.news-title-wrapper {
  width: 100%;
  text-align: left;
  font-size: 40px;
  padding: 20px 0;
}

.news-grid-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-1-container news-grid-2-container news-grid-3-container" "news-grid-4-container news-grid-5-container news-grid-6-container";
  grid-row-gap: 75px;
}

.news-grid-1-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-pic-1" "news-grid-pic-1" "news-grid-pic-1" "news-grid-info-1";
}

.news-grid-pic-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: news-grid-pic-1;
  background-image: url("../img/news-grid/grid-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-grid-info-1 {
  margin-top: 10px;
  font-size: 12px;
  color: black;
  text-align: center;
}

.news-grid-2-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-pic-2" "news-grid-pic-2" "news-grid-pic-2" "news-grid-info-2";
}

.news-grid-pic-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: news-grid-pic-2;
  background-image: url("../img/news-grid/grid-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-grid-info-2 {
  font-size: 12px;
  margin-top: 10px;
  color: black;
  text-align: center;
}

.news-grid-3-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-pic-3" "news-grid-pic-3" "news-grid-pic-3" "news-grid-info-3";
}

.news-grid-pic-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: news-grid-pic-3;
  background-image: url("../img/news-grid/grid-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-grid-info-3 {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  text-align: center;
}

.news-grid-4-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-pic-4" "news-grid-pic-4" "news-grid-pic-4" "news-grid-info-4";
}

.news-grid-pic-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: news-grid-pic-4;
  background-image: url("../img/news-grid/grid-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-grid-info-4 {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  text-align: center;
}

.news-grid-5-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-pic-5" "news-grid-pic-5" "news-grid-pic-5" "news-grid-info-5";
}

.news-grid-pic-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: news-grid-pic-5;
  background-image: url("../img/news-grid/grid-5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-grid-info-5 {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  text-align: center;
}

.news-grid-6-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
      grid-template-areas: "news-grid-pic-6" "news-grid-pic-6" "news-grid-pic-6" "news-grid-info-6";
}

.news-grid-pic-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: news-grid-pic-6;
  background-image: url("../img/news-grid/grid-6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-grid-info-6 {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */